.menuSuperior{
    display: flex;
    justify-content: space-between;
}
ul{
    display: inline;
}

body{
    background: #4b379a;
    
}
*{
    font-family: 'Roboto', sans-serif;
}
.pm{
    font-family: 'Poppins', sans-serif;

}

h2{
    font-size: 3em;
}
.doc{
    padding: 10%;
}
.mensajeDeBienvenida{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: pink;

}

.pm1{
    margin: 0;
}
.pm{
    margin-top: 10px;
    font-size: 4em;
    margin-bottom: 20px;
}

.submenu2 ul{
    list-style-type: none ;
    display: flex;
    align-content: space-around;
}

.boton{
    background-color: white;
    border-radius: 0.5em;
    text-align: center;
    color:#87CEEB;
    padding: 1em;
    font-size: 24px;
    border: 2px solid #87CEEB;
}

.boton :hover{
    background-color: #4a7dce;
}

.articulo{
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 50% 50%; 
}

.articulo2{
    display: grid;
    grid-template-columns: 50% 50%; 
    background-image: url("..//img/parralax.jpg");
    
}

.articulo3{
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 50% 50%; 
}

.txt{
    padding-left: 1em;
}